*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: transparent rgb(100,100,100);
  scrollbar-width: none;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

button:active {
  opacity: 0.9;
  transform: scale(0.95);
}