.rootContainer {
    width: 87%;
    height: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.metadataInputContainer {
    margin: 40px 0 0 0;
}

.metadataInputContainer > input, .metadataInputContainer > textarea {
    background: transparent;
    border: 1px solid #5a5a66;
    color: white;
    width: 100%;
    padding: 13px;
    resize: none;
    border-radius: 3px;
}

.metadataInputContainer > textarea {
    min-height: 150px;
    line-height: 28px;
}

.metadataInputContainer > input::placeholder, .metadataInputContainer > textarea::placeholder {
    font-size: 15px;
    color: #5a5a66;
}

.label {
    display: block;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}

.title {
    color: white;
    letter-spacing: 1px;
    word-spacing: -2px;
    line-height: 23px;
    font-size: 17px;
}

.subtasksContainer {
    max-height: 225px;
    margin: 30px 0 -5px 0;
}

.subtasksContainer > div {
    max-height: 180px;
    overflow-y: scroll;
}

.statusContainer {
    margin: 30px 0;
}

.statusContainer > select {
    background: transparent;
    width: 100%;
    padding: 10px 15px;
    color: white;
    border: 1px solid #868d9d;
}