.rootContainer {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.rootContainer > input {
    background: transparent;
    border: 1px solid #5a5a66;
    padding: 13px;
    border-radius: 3px;
    flex-grow: 1;
    display: flex;
    color: white;
}

.rootContainer > input::placeholder {
    font-size: 15px;
    color: #5a5a66;
}

.icon {
    color: #868d9d;
    margin-left: 20px;
    width: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}
