.rootContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.mainContentContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.boardContainer {
    width: 100%;
    height: 100%;
}